.App {
  font-family: sans-serif;
  text-align: center;
}
.accordin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accn-header {
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(227, 217, 217);
  padding: 0px 10px;
  cursor: pointer;
  font-family: sans-serif;
  border: 1px solid #ccc;
}

.accn-header:hover {
  background-color: #ddd;
}

.icon {
  margin: 20px;
}

.acc-content {
  background-color: whitesmoke;
  padding: 5px;
  margin-top: 5px;
}
